# ==========================
# Frontend (Next.js)
# ==========================

frontend/.env
frontend/.env.*
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/
frontend/.vercel/

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Yarn
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Misc
frontend/.DS_Store
frontend/*.pem

# Debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*


# backend
